<ul id="saved-gift-collection" class="collection">
    <li class="collection-item avatar">
        <img src="{{photo}}" alt="" class="circle">
        <span id="gift_name">{{name}}</span>
        <span id="gift_price">{{price}}</span>
        <span id="gift_link">
            <a target="_blank" href="{{link}}">Link</a>
        </span>
        <form action="#">
            <p class="right-align">
                <input data-value="{{gift_id}}" type="checkbox" id="gift-purchased"/>
                <label for="test5">Purchased</label>
            </p>
        </form>
    </li>
</ul>
