<ul id="saved-gift-collection" class="collection">
    <li class="collection-item avatar">
        <img src="{{gift_photo}}" alt="" class="circle">
        <span id="gift_name">{{gift_name}}</span>
        <span id="gift_price"> - ${{shortPrice gift_price}}</span>
        <span id="gift_link">
            <p>
                <a target="_blank" href="{{gift_url}}">Link</a>
            </p>
        </span>
        <form action="#">
            <p class="right-align">
                <input data-value="{{id}}" type="checkbox" class="gift-purchased" id="gift-id-{{id}}" {{#if gift_purchased}}checked{{/if}}/>
                <label for="gift-id-{{id}}">Purchased</label>
                <a class="delete-gift-button" data-value="{{id}}"><i style="cursor: pointer" class="material-icons right blue-grey-text">close</i></a>
            </p>
        </form>
    </li>
</ul>
