<!--start container-->
<div class="container">
    <div id="api-users-section" class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="header">GiftHub API</h4>
                <div class="divider"></div>
            </div>
            <div class="col s12">
                <p>Query and update database tables here.</p>
                <table id="api-users-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Admin</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each users as | user |}}

                            <tr>
                                <td>{{user.fullName}}</td>
                                <td>{{user.user_is_admin}}</td>
                                <td>{{user.user_email}}</td>
                                <td>{{obscurePassword user.user_password}}</td>
                                <td>{{user.user_city}}, {{user.user_state}}</td>
                            </tr>

                        {{/each}}

                    </tbody>
                    <tfoot>
                    </thead>
                </table>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
