<div class="col s12 m4">
    <div class="card small">

        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{gift_photo}}">
        </div>

        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4 gift-title">{{gift_name}}
                <i class="material-icons right">more_vert</i>
            </span>

            <div class="row">
                <div class="col sm8">
                    <p>${{gift_price}}</p>
                </div>

                <div class="col sm4">
                    <p><a href="{{gift_url}}">Link</a></p>
                </div>
            </div>

        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 gift-title">{{gift_name}}
                <i class="material-icons right">close</i>
            </span>
            <p>{{gift_description}}</p>
        </div>
    </div>
</div>